/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

.flex-left {
    justify-content: flex-start;
}

.flex-right {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

/* general */

body {
    font-family: sans-serif;
}

div {
    padding: 10px;
}

.container{
    padding: 20px;
    width: 70%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: row;
}

header {
    background-color: #add8e6;
    min-height: 400px;
}

/* header nav bar */

.nav-links {
    width: 50%;
    background-color: #daa520;
    border: 2px dashed #000;
}

.nav-border {
    width: 25%;
    background-color: #daa520;
    border: 2px dashed #000;
}


li {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
    padding: 0 5px;
}

/* header foot */

.h-foot {
    min-height: 400px;
    background-color: #00008b;
}

.central-element {
    background-color: #ee82ee;
    width: 45%;
    margin: 30px;
    border: 2px dashed #000;
}